:root{
    --couleur-principale: #009FE2;
    --couleur-secondaire: #25348B;
}

span{
    color: var(--couleur-secondaire);
    font-weight: bold;
}

.propos_accueil{    
    background:linear-gradient(rgba(87, 91, 97, 0.425), rgba(87, 91, 97, 0.425)),url('photo-00.jpg') center;
    background-size: cover;
    height: 37vh;
    color: #fff;
    text-align: center;
}
.propos_accueil h1{
    padding-top: 5%;
    font-size: 60px;
    font-style: italic;
}
.propos_accueil p{
    font-size: 15px;
    opacity: .8;
    font-style: italic;
}
main{
    margin: 50px  auto;
}
.first{
    text-align: center;
}
.first h1{
    color: var(--couleur-principale);
}
h2{
    color: var(--couleur-principale);
}
.vi_mi{
    margin: 30px;
    display: flex;
    text-align: justify ;
    justify-content: space-between;
}
.vi_mi h2{
    margin-bottom: 10px;
}
.vision{
    margin: 20px;
    width: 50%;
}
.mission{
    margin: 20px;
    width: 50%;
}
.valeur .second{
    text-align: center;
    margin-bottom: 20px;
}
.val_content ,.val1, .val2{
    display: flex;
}
.val{
    text-align: justify;
    margin: 20px;
}
.val img{
    display: none;
}
@media screen and (min-width: 768px) and (max-width: 1024px){
    main{
        margin: 40px  auto;
    }
    .first{
        text-align: center;
    }
    .first div{
        text-align: start;
    }
    .vi_mi{
        margin: 0px;
        display: flex;
        text-align:unset ;
        justify-content: space-between;
    }
    .vi_mi h2{
        margin-bottom: 10px;
    }
    .vision{
        margin: 15x;
        width: 50%;
    }
    .mission{
        margin: 15px;
        width: 50%;
    }
    .valeur .second{
        text-align: center;
        margin-top: 20px;
    }
    .val_content {
        display: block;
    }
    .val{
        text-align: justify;
        margin: 10px;
    }
}

@media screen and (max-width: 767px){
    .propos_accueil{
        height: 200px;
        color: #fff;
        text-align: center;
    }
    .propos_accueil h1{
        padding-top: 10%;
        font-size: 40px;
    }
    .propos_accueil p{
        font-size: 13px;
    }
    .first div{
        margin: 10px;
        text-align: start;
    }
    .vi_mi{
        margin: 0px;
        display: block;
        text-align: justify;
        justify-content: space-around;
    }
    .vi_mi h2{
        margin-bottom: 10px;
    }
    .vision{
        margin: 20px;
        width: 90%;
    }
    .mission{
        margin: 20px;
        width: 90%;
    }
    .mission h2{
        text-align: end;
    }
    .valeur .second{
        text-align: center;
    }
    .val_content ,.val1, .val2{
        display: block;
    }
    .val{
        text-align: start;
        margin: 30px;
        display: flex;
    }
    .val img{
        display: block;
        width: 35%;
        height: 100px;
        margin: 0px 20px;
    }
    .val p{
        width: 70%;
    }
} 