*{
    margin: 0;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif;
}

:root{
    --couleur-principale: #009FE2;
    --couleur-secondaire: #25348B;
}

span{
    color: var(--couleur-secondaire);
}
/* Main */
main{
    width: 90%;
    margin: auto;
}
/* Mon header */
header{
    height: 50px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
header img{
    width: 150px;
    height: 50px;
}
menu ul{
    display: flex;
    margin-top: 15px;
}
menu ul li {
    list-style: none;
    font-weight: 500;
}
menu ul li a {
    text-decoration: none;
    color:  var(--couleur-principale);
    margin: 10px;
}

#acceuil{    
    background:url('photo-00.jpg') center; 
    background-size: cover;
    height: 60vh;
    color: #fff;
    text-align: center;
}
#acceuil h1{
    padding-top: 10%;
    font-size: 80px;
    font-style: italic;
}
#acceuil p{
    margin: 30px;
    font-size: 30px;
    opacity: .8;
}

/* Main */

.simple{
    display: flex;
    width: 90%;
    margin: auto;
    margin-top: 10%;
    text-align: justify;
}
.simple img{
    width: 400px;
    height: 350px;
    border: var(--couleur-principale) solid 2px;
    border-radius: 10px;
}
.smp{
    width: 50%;
    margin: auto;
    margin-top: 0px;
}
.smp h2{
    margin: 20px;
    margin-left: 0px;
    color: var(--couleur-principale);
}
hr{
    width: 50%;
    height: 3px;
    margin-bottom: 30px;
    background-color: var(--couleur-principale);
    border: none;
}

/* Services */
.simple1{
    width: 80%;
    margin: auto;
}
#services{
    background-color: #D3E8F5;
    margin-top: 100px;
    text-align: center;
    padding-bottom: 100px;
}
#services h2{
    font-size: 35px;
    padding: 50px;
}

.smp1{
    display: flex;
}
.service{
    border-radius: 15px 15px 0 0;
    background-color: #fff;
    width: 400px;
    margin: auto ;
}
.service img{
    width: 400px;
    height: 300px;
    border-radius: 15px 15px 0 0;
}
.smp2{
    margin-top: 7%;
    display: flex;
}
.service1{
    border-radius: 15px 15px 0 0;
    background-color: #fff;
    width: 300px;
    margin: auto ;
}
.service1 img{
    width: 300px;
    height: 200px;
    border-radius: 15px 15px 0 0;
}
#services h4{
    font-weight: normal;
    margin-top: 10px;
}
#services a{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    background-color: var(--couleur-principale);
    padding: 10px;
    border-radius: 34px;
    margin-top: 20px;
    margin-bottom:15px ;
}


/* Engagement */
#engagement{
    margin: 200px 0 ;
}
.simple2{
    display: flex;
    width: 70%;
    margin: 100px auto;
    justify-content:space-around;
}
.simple2 img{
    width: 400px;
    height: 350px;
    border-radius: 10px;
}
.smp3{
    margin: 30px;
    text-align: justify;
}
.smp3 h3{
    color: var(--couleur-secondaire);
    font-size: 30px;
    margin: 0 0  30px 20px;
}
.smp3 p{
    background-color: #D3E8F5;
    border-radius: 10px;
    padding: 20px;
}

/* Réalisations */
#realisation{
    margin: 100px auto;
    text-align: center;
}
#realisation h3{
    font-size: 35px;
    margin: 30px;
}
.simple3{
    margin: auto;
    padding: 100px 0;
    background-color: #D3E8F5;
    border-radius: 25% 0;
}
.project{
    margin: 40px;
}
.project img{
    width: 300px;
    height: 250px;
    border-radius: 5px;
}
.project a{
    text-decoration: none;
    color: #fff;
    background-color: var(--couleur-principale);
    padding: 20px;
    border-radius: 5px;
}
.smp4 ,.smp5 {
    display: flex;
    justify-content: center;
}

/* Nos partenaires */
#partenaires{
    text-align: center;
    margin: 200px 0;
}
#partenaires h3{
    font-size: 35px;
    margin: 30px;
}
.simple4{
    background: url('partenaire.jpeg') center; 
    padding: 150px 0;
}
.simple4 img{
    width: 150px;
    height: 100px;
    margin: 0 40px;
}

footer{
    color: #fff;
    text-align: center;
}
.simple5{
    background-color: var(--couleur-secondaire);
    padding: 20px 0;
}
.simple5 h2{
    font-size: 40px;
    margin: 20px;
}
.simple5 p{
    margin-bottom: 30px;
    opacity: .9;
    font-style: italic;
}
.smp6{
    display: flex;
    justify-content: space-around;
}

.smp7 a{
    text-decoration: none;
    color: #fff;
    margin:  20px;
    opacity: .8;
}
.smp7 h4, h4 a{
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    margin: 20px;
}
footer #copyr{
    text-align: center;
    padding: 20px;
    color: var(--couleur-secondaire);

}